.App {
  text-align: center;
}

.navbar{
  display:flex;
  justify-content: space-evenly;
  padding:20px;
  color:white;
  background-color: mediumturquoise;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
Link{
  color:white;
}

.list_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);;
  grid-gap:20px;
  padding:10px
  
}
.employee_card{
  padding:5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.createEmployee{
  display:block
}